
{% macro preview(component) %}
<!-- {{ component.extra.image }} -->
{% set link = component.extra.link | default(value=component.path) %}
<a href="{{ link }}">
  {% set preview_image = resize_image(path=component.extra.image, width=100, height=100) %}
  <img class="preview" src="{{ preview_image.url }}" />
</a>
{% endmacro preview %}

{% macro tracking() %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49498783-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-49498783-1');
</script>
{% endmacro tracking %}
